<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>404 - Page Not Found | Models</title>

  <link rel="icon" type="image/png" href="img/logo.jpg">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

  <!-- HEADER -->
  <div class="main-header-section">
    <div class="navbar">
      <a href="index.html">
        <div class="logo">
          models<span>.</span>
        </div>
      </a>

      <ul class="menu">
        <li class="menu-sub-class"><a href="model.html">Models.</a></li>
        <li class="menu-sub-class"><a href="creatives.html">Creatives.</a></li>
        <li class="menu-sub-class"><a href="fashion.html">Fashion.</a></li>
        <li class="menu-sub-class"><a href="beauty.html">Beauty.</a></li>
        <li class="menu-sub-class"><a href="about.html">About</a></li>
      </ul>

      <div class="login-section">
        <a href="login.html">Login</a>
      </div>
    </div>
    <hr>
  </div>

  <!-- 404 CONTENT -->
  <section class="auth-section">
    <div class="auth-box" style="text-align:center">

      <h1 style="font-size:90px; margin-bottom:10px;">404</h1>
      <h2>Page Not Found</h2>

      <p style="margin:15px 0;">
        Sorry, the page you are looking for does not exist.
      </p>

      <a href="index.html" class="auth-btn">Go to Home</a>

    </div>
  </section>

  <!-- FOOTER -->
  <footer class="model-footer">
    <div class="footer-container">

      <div class="footer-col">
        <h4>Social Media</h4>
        <div class="footer-social">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-x-twitter"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>

      <div class="footer-col">
        <h4>Explore</h4>
        <ul>
          <li><a href="rankings.html">Ranking</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="register.html">Register as models</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Inside the Industry</h4>
        <ul>
          <li><a href="model.html">Models</a></li>
          <li><a href="creatives.html">Creatives</a></li>
          <li><a href="fashion.html">Fashion</a></li>
          <li><a href="beauty.html">Beauty</a></li>
        </ul>
      </div>

    </div>

    <div class="footer-bottom">
      <p>© 2026 Model Website. All Rights Reserved.</p>
    </div>
  </footer>


</body>
</html>
